<div class="header prl-200">
  <div class="header-continent content-between p-10">
    <div class="users">
      <a
        class="text-decoration-none ml-10"
        routerLink="pages/users"
        routerLinkActive="active-link"
        >Users</a
      >
    </div>
    <div class="friends">
      <a
        class="text-decoration-none"
        routerLink="pages/friends"
        routerLinkActive="active-link"
        >Friends</a
      >
    </div>
    <div class="chats">
      <a
        class="text-decoration-none mr-10"
        routerLink="pages/chats"
        routerLinkActive="active-link"
        >Chats</a
      >
    </div>
  </div>
  <div class="line"></div>
</div>
